<!-- start copyright -->
<footer id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
          Copyright &copy; 2084 Company Name</p>
      </div>
    </div>
  </div>
</footer>
<!-- end copyright -->