<!-- start home -->
{{#>coreLayout}}
  {{#*inline "content"}}
    <!-- start home -->
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">We make templates that are <span>awesome</span></h1>
                    <div class="element">
                        <div class="sub-element">Hello, this is Typed.js</div>
                        <div class="sub-element">Awesome Template is provided by templatemo.com website for everyone</div>
                        <div class="sub-element">Download, edit and apply this awesome template for your websites</div>
                    </div>
                    <a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
  {{/inline}}  
{{/coreLayout}}
