<!-- start home -->
{{#>layouts/main}}
  {{#*inline "content"}}
    <!-- start service -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">OUR <span>AWESOME</span> THINGS</h2>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <i class="fa fa-laptop"></i>
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus
                        ut nisi id leo molestie. Adipiscing vitae vel quam proin eget mauris eget. Lorem ipsum dolor sit
                        amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo
                        molestie.</p>
                </div>
                <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
                    <i class="fa fa-cloud"></i>
                    <h4>Cloud Computing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus
                        ut nisi id leo molestie. Adipiscing vitae vel quam proin eget mauris eget. Lorem ipsum dolor sit
                        amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo
                        molestie.</p>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <i class="fa fa-cog"></i>
                    <h4>UX Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus
                        ut nisi id leo molestie. Adipiscing vitae vel quam proin eget mauris eget. Lorem ipsum dolor sit
                        amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo
                        molestie.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- end servie -->
  {{/inline}}  
{{/layouts/main}}
